:root {
  /* variables */
  --cursor-general: url("");
  --cursor-pointer: url("");
  --cursor-text: url("");
}

/* container styles */
.mainContainer {
  width: 100%;
}
/* cursor general */
.general {
  cursor: var(--cursor-general), default;
}
/* cursor pointer */
.pointer {
  cursor: var(--cursor-pointer), default;
}
/* cursor text */
.text {
  cursor: var(--cursor-text), default;
}
