:root {
  /* default cursor colors - blue */
  --cursor-general: url("../assets/blue/NeonCursor04-Blue.png");
  --cursor-pointer: url("../assets/blue/NeonLinkSelect04-Blue.png");
  --cursor-text: url("../assets/blue/NeonTextSelect04-Blue.png");
  --cursor-drag: url("../assets/blue/NeonGrab04-Blue.cur");
}

.mainContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
}
/* cursor general */
.general {
  cursor: var(--cursor-general), default;
}
/* cursor pointer */
.pointer {
  cursor: var(--cursor-pointer), default;
}
/* cursor text */
.text {
  cursor: var(--cursor-text), default;
}
/* drag */
.drag {
  cursor: var(--cursor-drag), default;
}
